<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Me - Your Name</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <header>
        <h1>About Me</h1>
    </header>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/about">About Me</a></li>
            <li><a href="/projects">Projects</a></li>
        </ul>
    </nav>
    <main>
        <h2>My Story</h2>
        <p>My name is Thomas Kyriakos Pravinos, I am 23 years old and I live in Thessaloniki, Greece.

            Currently, I am pursuing a Integrated Master's degree in Electrical and Computer Engineering at Aristotle University of Thessaloniki (AUTH). Before attending university, I obtained my High School Diploma from 1st General High School of Alexandreia. Along the way, I have earned a number of certifications and have completed various projects for my university classes. As an Full Stack Developer-Engineer, I recently completed a 3-month internship at MyCompany Projects. During this time, I contributed to a Laravel project focused on pressure vessels and their functions, working alongside experienced developers who taught me the fundamentals of Laravel and Vue.js. With their guidance, I developed a structured approach to problem-solving, enabling me to tackle complex technical issues independently. This experience helped me grow both as a person and a developer. My technical skills include Python, Laravel, Vue.js, PHP and MySQL.
            
            I am eager to continue learning and growing both personally and professionally, and am excited to explore opportunities to apply my skills to new and exciting projects.</p>

        <h2>Skills</h2>
        <ul class="no-bullets horizontal-list">
            <li>Python</li>
            <li>Laravel</li>
            <li>Matlab</li>
            <li>C++</li>
            <li>MySQL</li>
            <li>Git</li>
        </ul>
        
        </ul>   
        <a href="https://drive.google.com/file/d/1bTS2_J0tYLCACFMFTx8rUitQbvVKyzzT/view?usp=sharing" class="big-link">CV</a>    
    </main>
    <footer>
        <p class="centered-text">&copy;  {{ current_year }} Thomas Kyriakos Pravinos</p>
    </footer>
</body>
</html>
